<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abhigarg.notepadapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".firebaseOffline"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" Free Notes"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pattern_lock"></activity>
        <activity
            android:name=".note_list"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".EditNote_textDetection"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".textDetection"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".privacyPolicy"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".about_us"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7232726737727213~2647961134" />

        <activity
            android:name=".Brush"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".auth.Splash"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.Register"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".auth.Login"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".note.EditNote"
            android:parentActivityName=".note_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".note.AddNote"
            android:label="@string/title_activity_add_note"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".note.NoteDetails"
            android:label="@string/title_activity_note_details"
            android:parentActivityName=".note_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>